/.vs/
/x64/
/TouchComp/x64/

*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.ipch

*.obj
*.pdb
*.ilk
*.tlog
*.log
*.lastbuildstate
*.recipe
*.pch

/Debug/
/Release/
/build/
/out/

*.exe
*.dll

!TouchComp/lib/**/*.lib

Typora_Hook_Log.txt
